


#files
*.ndpi
*.png
*.DS_STORE
*venv
*.ipynb
*.swp
*.swo
*.json
*.xml
*__pycache__
*data
*csv
*xml
*json
*old/*
*tiler/*

#scripts
scrapbook.py
test.py
measure.py
save.py
hormad1_patching.py

*.docx
